@{
    ViewBag.Title = "Error Message";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-danger" style="margin-top:150px;">
    <b>Ticket could not be created due to some error. Please try again.</b>
</div>

