

@{
    ViewBag.Title = "Feedback Success Message";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-success" style="margin-top:150px;">
    <b>Your feedback submitted Successfully! </b> &nbsp; &nbsp;
    <a href="/Initiater/Feedback" >Back To List</a>
</div>
